body {
}
.field {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.productBlock {
    display: flex;
    flex-direction: column;
}

.label {
    width: 200px;
}

.valueField {
    width: 400px;
}

.saleProducts {
    display: flex;
    flex-direction: column;
}

.productTag {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #706c79;
    border-radius: 8px;
    background-color: rgb(136, 184, 220);
}

